blog-header

input.post-search-query(type='search', placeholder='Search')
section.row.no-padding.culture.animated.fadeInUp
  search-post.animated.fadeInUp(
    ng-repeat="article in articles",
    slug="{{article.slug}}",
    date="{{article.date}}",
    preview="{{article.preview}}",
    title="{{article.title}}",
    thumbnail="{{article.thumbnail}}",
    alt="{{article.alt}}",
    blogger="{{article.author}}"
  )
