block variables
- copy = require('app/copy.js')
- page = "contact"
- pageData = copy.content[page]

section.row.no-padding.contact
	//article.col-md-12.no-padding.top-main
		h2 
			blockquote!= pageData.blockquote
		
		include components/cite-components
	h1 Contact
	.contact-wrppaer.top-main
		each contentItem, index in pageData.offices 
			.col-xs-12.col-sm-6.col-md-6
				figure
					img(src!=contentItem.imgSrc)
					figcaption
						h3= contentItem.name
						ul
							li
								a(href!='tel:'+contentItem.href)!= contentItem.phone
								
							li!= contentItem.address 
		.clear
		section.contactbiz.clearfix
			each contentItem, index in pageData.departments
				.col-xs-12.col-sm-4.col-md-4
					h4!= contentItem.cat
					span!= contentItem.description
					hr
					span.red!= contentItem.email

//include components/contact-form