block variables
- copy = require('app/copy.js')
- page = "culture"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.culture

	article.col-md-12.top-main
		article.col-md-4.no-padding.gif
			img(src=require('assets/images/culture/phno-gif.gif'))

		article.col-md-7.col-md-offset-1.no-padding
			h1 Culture
			h2
				blockquote(class='culture-block')!= pageData.blockquote

			include components/cite-components

	article.col-md-12.no-padding.margin-bottom-md.animated.fadeIn
		img( src=require('assets/images/culture/culture1.jpg'))

	article.col-md-12.table
		.col-xs-12.col-sm-12.col-md-5.no-padding
			img( src=require('assets/images/culture/culture2.png'))
		.col-xs-12.col-sm-12.col-md-6.col-md-offset-1
			h3
				blockquote
					| If you plan on visiting them, pencil in an extra hour or two to sneak across the street and check out LACMA.&#8221;
				cite
					.wrapper
						span
							| Jason
						span
							| Client

	article.col-md-12.change-order.no-padding
		.col-xs-12.col-sm-12.col-md-7.no-padding
			img.box( src=require('assets/images/culture/culture3.png'))

		.col-xs-12.col-sm-12.col-md-4
			h3
				blockquote
					| Every day there&#8217;s a slew of food trucks in front of their building where you can get just about everything under the sun. And sunny it usually is.&#8221;
				cite
					.wrapper
						span
							| Claire
						span
							| Client
	article.headshots.col-xs-12.col-md-12.no-padding
		.col-xs-6.col-sm-4.col-md-15.no-padding
			ul.cf
				// fake image tag to gain height of the container
				img(src=require('assets/images/headshots/fake-img.png'))
				li
				li
				li
		.col-xs-6.col-sm-4.col-md-15.no-padding
			ul
				img(src=require('assets/images/headshots/fake-img.png'))
				li
				li
				li
		.col-xs-6.col-sm-4.col-md-15.no-padding
			ul
				img(src=require('assets/images/headshots/fake-img.png'))
				li
				li
				li
		.col-xs-6.col-sm-4.col-md-15.no-padding
			ul
				img(src=require('assets/images/headshots/fake-img.png'))
				li
				li
				li
		.col-xs-6.col-sm-4.col-md-15.no-padding
			ul
				img(src=require('assets/images/headshots/fake-img.png'))
				li
				li
				li
	article.col-xs-12.col-md-10.no-padding.building
		.col-xs-12.col-md-7
			img(src=require('assets/images/culture/culture4.png'))
			img(src=require('assets/images/culture/culture5.png'))
		.col-xs-12.col-md-5
			h3
				blockquote
					| I always know a Pheno because they&#8217;re smiling.&#8221;
				cite
					.wrapper
						span
							| John
						span
							| Building Security
			img(src=require('assets/images/culture/culture6.gif'))
	article
	article.col-md-12.no-padding.mugs
		.col-xs-12.col-md-5
			img(src=require('assets/images/culture/culture7.png'))
			h3
				blockquote
					| They have quite a collection of ugly mugs. Last time I was there I drank my coffee out of Mona Lisa&#8217;s head.&#8221;
				cite
					.wrapper
						span
							| Nancy
						span
							| Client
		.col-xs-12.col-md-7
			h3
				blockquote
					| Yeah, I&#8217;d say they&#8217;re generally<br> a pretty clean bunch.&#8221;
				cite
					.wrapper
						span
							| Carl
						span
							| Building Custodian

			img(src=require('assets/images/culture/culture8.png'))
