block variables
- copy = require('app/copy.js')
- page = "home"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.home
	div.top-main.col-md-12
		.col-md-6.no-padding
			//- h1 Phenomenon
			//- h1 Agency
			h2.animated.fadeIn An Independent Agency
			h2.indie-minds for Independent Minds.
			.icon-right-arrow.home-arrow(scrolltop2)
	ul.row.no-padding.featured-contributors
		h6 Featured Contributors
		// first 3 contributors
		each contributorItem in pageData.contributors
			a(href=contributorItem.href)
				li.col-sm-12.col-md-4
					if contributorItem.contributorAvatar
						div.client_logo-wrapper(style="background-image: url(" + contributorItem.contributorAvatar + ")")
					cite
						.wrapper
							if contributorItem.name
								span!= contributorItem.name
							if contributorItem.jobTitle
								span!= contributorItem.jobTitle
					if contributorItem.project
						p!= contributorItem.project
					a.red.read-full(href=contributorItem.href) Read full article &gt;
		.clear
