block variables
- copy = require('app/copy.js')
- page = "work"
- pageData = copy.content[page]

section.row.no-padding.work.work-landing
	article.col-md-12.top-main
		h1 Work
		h2
			blockquote!= pageData.blockquote
		include components/cite-components
	each contentItem in pageData.subcontent
		a(href=contentItem.readmoreUrl)
			article.col-md-12.no-padding.cf.allcases
				.col-xs-12.col-sm-12.col-md-8.no-padding
					if contentItem.image
						img(src= contentItem.imageUrl, alt=contentItem.imageAlt)
				.col-xs-12.col-sm-12.col-md-4.no-padding
					fieldset
						legend= contentItem.legend
						h3!= contentItem.headline
						if contentItem.citeName
							cite
								.wrapper
									span!= contentItem.citeName
									span!= contentItem.citeTitle

						div.line
						p!= contentItem.description

						a.red(href=contentItem.readmoreUrl) Read more &gt;
